.axis text {
    font: 10px sans-serif;
}

path {
    fill: transparent;
    stroke: black;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}

h2 {
    font-family: Questrial
}

nav .brand-logo {
    margin-left: 0.2em;
    margin-top: 0.2em;
}

h1,h2,h3,h4,h5 {
    font-family: Raleway,sans-serif;
    font-weight: 800;
}

h1 {
    font-size: 2.5em;
}

.title {
    font-size: 2em;
}

body {
    color: #201b54;
    overflow-x: hidden;
}

body, html {
    font-size: 18px;
}

body, html {
    box-sizing: border-box;
    color: #201b54;
    font-family: Heebo,sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    width: 100%;
}

.right {
    text-align: left;
}

.left {
    text-align: right;
}

.hero__bg-img {
    height: auto;
    position: absolute;
    right: 0;
    bottom: 10px;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
    width: 75%;
    z-index: -1;
}

.hero__graphic {
    position: absolute;
    max-height: 100%;
    width: 40%;
    right: 10%;
    -webkit-transform: translateY(7%);
    transform: translateY(7%);
}

#main {
    height: 100vh;
    overflow: hidden;
}

select {
    display: block;
}

.preflight {
    background-color: #093b8c;
    color: #fff;
}

.cta {
    background-color: #1159d1;
    border: 0;
    border-radius: 100vw;
    color: #fff;
    display: inline-block;
    font-family: Raleway,sans-serif;
    font-weight: 700;
    padding: 1em 2em;
    text-decoration: none;
}

.ripple {
    background-position: 50%;
    cursor: pointer;
    transition: background .8s;
}

.cta-wrapper {
    padding: 2em 0;
}

.footer__cta-wrapper {
    background-color: #1159d1;
    padding: 2em 0;
    text-align: center;
}

.title {
    font-size: 2.3em;
    font-weight: 800;
}

.cta--green {
    background-color: #15d1a5;
}

.footer__links {
    background-color: #201b54;
    color: #fff;
}

.footer__links .container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 2em;
}

.footer__links h3 {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.footer__links ul {
    font-family: Heebo,sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__links ul li a {
    color: #fff;
    opacity: .65;
    text-decoration: none;
    transition: .2s ease-in;
}

.footer__links .copyright {
    border-top: 1px solid #3d34a1;
    font-size: .9em;
    grid-column: 1/span 4;
    line-height: 3;
    margin-top: 4em;
    opacity: .65;
    padding-top: 1rem;
    text-align: center;
}

@media screen and (max-width: 568px) {
    .footer__links .container {
        display: block;
    }
    p {
        line-height: 1.5;
    }
    h1 {
        font-size: 2em;
        text-align: center;
    }
}

@media screen and (max-width: 960px) {
    .footer__links .container {
        grid-template-columns: repeat(3,1fr);
    }
    .footer__links .logo {
        display: none;
    }
}

@media screen and (max-width: 568px) and (min-height: 720px) {
    .hero__bg-img {
        width: 130%;
        transform: translate(0%,-50%) !important;
    }

    .hero__graphic {
        min-width: 100px;
        height: 10vh;
        width: auto;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@media screen and (max-width: 1175px) {
    .hero__bg-img {
        width: 50%;
        top: 0;
        -webkit-transform: translate(10%,-50%);
        transform: translate(10%,-50%);
    }

    .hero__graphic {
        width: 30%;
        right: 5%;
    }
}

p:last-child {
    margin-bottom: 0;
}

h4 {
    margin: 0;
}

.chip {
    background: #eee;
    border-radius: 10px;
}
